<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/volunteer.css" />
    <link
      rel="stylesheet"
      href="https://unicorns.iconscout.com/release/v4.0.0/css/line.css"
    />
    <title>Registration form</title>
  </head>
  <body class="page-transition">
    <!-- Include Navbar Partial -->
    <%- include('../partials/navbar.ejs') %>


    <div class="container">
      <header>Volunteer Registration</header>
      <form action="/#home">
        <div class="form first">
          <div class="details personal">
            <span class="title">Personal Details</span>
            <div class="fields">
              <div class="input-field">
                <label>Full Name</label>
                <input type="text" placeholder="Enter your name" required />
              </div>
              <div class="input-field">
                <label>Date Of Birth</label>
                <input type="date" placeholder="Enter birth date" required />
              </div>
              <div class="input-field">
                <label>Email</label>
                <input type="text" placeholder="Enter your email" required />
              </div>
              <div class="input-field">
                <label>Mobile Number</label>
                <input
                  type="number"
                  placeholder="Enter mobile number"
                  required
                />
              </div>
              <div class="input-field">
                <label>Gender</label>
                <input type="text" placeholder="Enter your gender" required />
              </div>
              <div class="input-field">
                <label>Occupation</label>
                <input
                  type="text"
                  placeholder="Enter your occupation"
                  required
                />
              </div>
            </div>
          </div>
          <div class="details ID">
            <span class="title">Identity Details</span>
            <div class="fields">
              <div class="input-field">
                <label>ID Type</label>
                <input type="text" placeholder="Enter ID type" required />
              </div>
              <div class="input-field">
                <label>ID Number</label>
                <input type="number" placeholder="Enter ID number" required />
              </div>
              <div class="input-field">
                <label>Issued Date</label>
                <input type="date" placeholder="Enter issued date" required />
              </div>
              <div class="input-field">
                <label>Issued Authority</label>
                <input
                  type="text"
                  placeholder="Enter issued authority"
                  required
                />
              </div>
              <div class="input-field">
                <label>Issued State</label>
                <input type="text" placeholder="Enter issued State" required />
              </div>
              <div class="input-field">
                <label>Expiry Date</label>
                <input type="date" placeholder="Enter expiry date" required />
              </div>
            </div>
            <button class="nextBtn">
              <span class="btnText">Next</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
        <div class="form second">
          <div class="details address">
            <span class="title">Address Details</span>
            <div class="fields">
              <div class="input-field">
                <label>Address Type</label>
                <input type="text" placeholder="Enter address type" required />
              </div>
              <div class="input-field">
                <label>Nationality</label>
                <input type="text" placeholder="Enter nationality" required />
              </div>
              <div class="input-field">
                <label>State</label>
                <input type="text" placeholder="Enter your State" required />
              </div>
              <div class="input-field">
                <label>District</label>
                <input type="text" placeholder="Enter your district" required />
              </div>
              <div class="input-field">
                <label>Block Number</label>
                <input
                  type="number"
                  placeholder="Enter block number"
                  required
                />
              </div>
              <div class="input-field">
                <label>Ward Number</label>
                <input type="number" placeholder="Enter ward number" required />
              </div>
            </div>
          </div>
          <div class="details ID">
            <span class="title">Work Details</span>
            <div class="fields">
              <div class="input-field">
                <label>Availability</label>
                <input
                  type="text"
                  placeholder="morning/noon/evening"
                  required
                />
              </div>
              <div class="input-field">
                <label>Areas of Interest</label>
                <input
                  type="text"
                  placeholder="collection/distribution/event oraganization"
                  required
                />
              </div>
              <div class="input-field">
                <label>Experience</label>
                <input
                  type="text"
                  placeholder="Enter your experience"
                  required
                />
              </div>
              <div class="input-field">
                <label>Emergency Conatct</label>
                <input type="text" placeholder="Enter name" required />
              </div>
              <div class="input-field">
                <label>Relationship</label>
                <input type="text" placeholder="Enter relationship" required />
              </div>
              <div class="input-field">
                <label>Phone number</label>
                <input type="number" placeholder="Enter number" required />
              </div>
            </div>
            <div class="buttons">
              <div class="backBtn">
                <i class="uil uil-navigator"></i>
                <span class="btnText">Back</span>
              </div>
              <button class="submit">
                <span class="submit">Submit</span>
                <i class="uil uil-navigator"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <footer>
      <!-- Include Footer Partial -->
    <%- include('../partials/footer.ejs') %>
    </footer>
    <script src="js/volunteer.js"></script>
    
    <script src="js/basic.js"></script>
  </body>
</html>
